@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Desenvolvedor @ViewData["name"]</p>
<address>
    <strong>Para mais informações, entre em contado: @ViewData["email"]</strong>
</address>
